.fests_img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.fests_name {
  font-size: 25px;
  font-weight: bold;
}
.fests_detail {
  font-size: 18px;
  font-weight: 500;
}
.fests_div {
  text-align: center;
}