.fests_img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #18216d;
}
.fests_name {
    font-size: 25px;
    font-weight: bold;
}
.fests_detail {
    font-size: 18px;
    font-weight: 500;
}
.fests_div {
    text-align: left;
}
.clubs_h3 {
    margin-top: 1rem;
}
.clubs_h3_science {
    margin-top: 4rem;
}
.slick-prev:before {
    color: #18216d;
}
.slick-next:before {
    color: #18216d;
}
.bread_nav {
    text-decoration: #18216d;
    color: #18216d;
}
.bread_nav:hover {
    text-decoration: #18216d;
    color: #18216d;
}

