.fests_img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.fests_div {
    text-align: left;
}
.fest_name {
    font-size: 30px;
}
.archive_div {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    align-items: center;
}
.archive_para {
    padding-top: 30px;
}
.senate_desc {
    text-align: center;
}
.senate_icons {
    text-align: center;
}
.senate_img {
    width: 250px;
    height: 250px;
}
.senate {
    text-align: center;
}
.senate_name {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 10px;
}
.person_icon {
    font-size: 25px;
    color: #18216d;
    margin-left: 10px;
    margin-right: 10px;
}
.person_icon:hover {
    font-size: 25px;
    color: #ff8c00;
    margin-left: 10px;
    margin-right: 10px;
}
.senate_position {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff8c00;
}
.club_para {
    font-size: 17px;
}
.span {
    font-weight: bold;
    margin-top: 1rem;
}
.text_color {
    color: #18216d;
    font-size: 18px;
}