.fests_img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}
.fests_div {
    text-align: left;
}
.fest_name {
    font-size: 30px;
}
.archive_div {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    align-items: center;
}
.archive_para {
    padding-top: 30px;
}
.slick-prev:before {
    color: #18216d;
}
.slick-next:before {
    color: #18216d;
}
.bread_nav {
    color: #18216d;
}