 .fests_img {
    width: 200px;
    height: auto;
}
.fests_name {
    font-size: 25px;
    font-weight: bold;
}
.fests_detail {
    font-size: 18px;
    font-weight: 500;
}
.fests_div {
    text-align: center;
}
.clubs_h3 {
    margin-top: 8rem;
}
.clubs_h3_science {
    margin-top: 2rem;
}

