.icon {
    font-size: 25px;
    color: #18216d;
    margin-right: 10px;
}
.span {
    font-size: 17px;
    font-weight: bold;
    color: #18216d;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.event_org {
    background-color: #18216d;
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}